@model MIO.Football.MVC.Models.ViewModels.SearchViewModel
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Campeonato de Futebol</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Busca por Campeonato</h6>
            </div>
            <div class="card-body">
                <form asp-controller="Campeonato" asp-action="SearchCompetitions" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input asp-for="Search" type="text" class="form-control bg-light border-0 small" placeholder="Informe Campeonato" aria-label="Pesquisar" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>